
<div class="memo-preview__wrapper">

    <div>
        Url: @Memo.Url <br />
        Title: @Memo.Title <br />
        Created: @Memo.Created.ToString("yyyy-MM-dd HH:mm:ss") <br />
        Text: @Memo.Text <br />
        IV: @Memo.IV <br />
        Data: @Memo.EncryptedData <br />
    </div>

</div>


@code {
    [Parameter]
    public MemoReadModel Memo { get; set; }

}
