
<div class="memo-preview__wrapper">

    <div class="memo-preview__title">
        @Memo.Title
    </div>

    <div class="memo-preview__text">
        @Memo.Text
    </div>

    <div class="memo-preview__date">
        <span class="memo-preview__date-label">
            Created:
        </span>
        @Memo.Created.ToShortDateString()
    </div>

    <div class="memo-preview__date">
        <span class="memo-preview__date-label">
            Expires:
        </span>
        @Memo.Created.ToShortDateString()
    </div>

    <div>
        Url: @Memo.Url <br />
        Title: @Memo.Title <br />
        Created: @Memo.Created.ToString("yyyy-MM-dd HH:mm:ss") <br />
        Text: @Memo.Text <br />
        IV: @Memo.IV <br />
        Data: @Memo.EncryptedData <br />
    </div>

</div>


@code {
    [Parameter]
    public MemoReadModel Memo { get; set; }

}
